.bg-pc {
    background-image: url(785694.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.Res-div {
    background-color: #1a1b28;
    border-radius: 10px;
    height: 530px;
    width: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#numStyling {
    background-color: rgb(37, 55, 71);
}

.inputBar {
    outline: none;
    margin-top: 10px;
    background-color: #1a1b28;
    height: 40px;
    width: 260px;
    margin-left: 20px;
    border-style: none;
    border-radius: 10px;
    color: white;
    font-size: 25px;
    font-weight: 200;
    padding: 5px 10px;
}

/* 
.inputBar {

} */

.result {
    background-color: #414efa;
    height: 100px;
}

.row-1 {
    background-color: #1a1b28;
    height: 60px;
}

.row-2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.row-3 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
}

.row-4 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
}

.row-5 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
}

.row-6 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
}

.button {
    background-color: #52c9dc;
    font-family: Times, serif;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 5px;
    width: 60px;
    height: 60px;
    transition: all .2s ease;
}

#result-div {
    background-color: #1a1b28;
    height: 50px;
}

#result {
    color: rgb(234, 248, 40);
    font-size: 40px;
    margin-right: 20px;
    text-align: right;
}

#numStyling2 {
    width: 140px;
}

.button:hover {
    width: 80px;
    background: rgb(34, 140, 195);
    background: linear-gradient(285deg, rgba(34, 140, 195, 1) 0%, rgba(28, 250, 221, 1) 100%);
    color: rgb(255, 255, 255);
}

#numStyling:hover {
    color: white;
    background: rgb(34, 193, 195);
    background: linear-gradient(285deg, rgba(34, 193, 195, 1) 0%, rgba(45, 253, 156, 1) 100%);
}

.multiply b {
    font-family: sans-serif;
    font-weight: 300;
}

@media only screen and (max-width:400px) {
    .inputBar {
        margin-top: 10px;
        background-color: #1a1b28;
        height: 40px;
        width: 240px;
        margin-left: 20px;
        border-style: none;
        border-radius: 10px;
        color: white;
        font-size: 25px;
        font-weight: 200;
    }

    .Res-div {
        background: none;
        border-radius: 10px;
        height: 530px;
        width: 320px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .row-1 {
        background: none;
    }

    .inputBar {
        background-color: rgba(28, 250, 221, 0);
    }

    #result-div {
        background: none;
    }

    .button {
        border-radius: 10%;
    }


}